// fonts
$font-stack: Arial, Helvetica, sans-serif;

// background colors
$light-bg-color: #f5f6fa;
$dark-bg-color: #182c61;
$alt-bg-color: #44bd32;

// font colors
$light-font-color: #fff;
$dark-font-color: #000;