@media screen and (max-width: 767px) {
  .container {
    max-width: 80%;
  }

  section {
    .products {
      grid-template-columns: 1fr;

      .product-item {
        text-align: center;
        margin-bottom: -20px;

        img {
          max-width: 480px;
          margin: 0 auto 10px;
        }

        .product-button {
          max-width: 480px;
          margin: 0 auto;
        }
      }
    }
  }
}
