header {
    background-color: $dark-bg-color;
    position: sticky;
    top: 0;
    left: 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
  
      .menu {
        display: flex;
  
        li {
          font-weight: bold;
          margin-left: 24px;
  
          a {
            color: $light-font-color;
            text-decoration: none;
  
            &::after {
              display: block;
              content: "";
              border-bottom: 2px solid $light-bg-color;
              transform: scaleX(0);  
              transition: transform 250ms ease-in-out;
            }
  
            &:hover::after {
              transform-origin: 0% 50%;
              transform: scaleX(1);  
            }
          }
        }
      }
    }
  }