#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bmi-calculator {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 360px;
  color: #333333;
}

h1 {
  font-size: 2.2rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  margin-inline: auto;
}

label {
  flex: 1;
  color: #ffffff;
  background-color: #45a049;
  padding: 4px;
}

input {
  padding: 8px;
  border: 1px solid #cccccc;
}

label, input, button {
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

.input-container, button {
  width: 90%;
}

.initial-message, .result {
  margin-top: 24px;
  font-weight: 700;
  color: #0197e2;
}